.action
  display inline-block
  padding 0
  border 0
  background 0
  color siteDarkBlue
  text-decoration none
  font-size 20px

  &-text
    display inline
    background linear-gradient(90deg, currentColor 3px, transparent 3px) repeat-x 0 100%
    background-size 6px 1px

.add-action
  padding-left 22px
  min-height 19px
  font-size 14px
  background url("../img/plus.png") no-repeat 0 0
