.b-basket-layout
  display table
  table-layout fixed
  border-collapse collapse
  width 100%

  &__grid
  &__form
    display table-cell
    vertical-align baseline

  &__form
    width 267px
    padding-left 20px

    &::before
      content "."
      display block
      visibility hidden
      padding 0 0 10px
      font-size 12px

  &__footer
    display table-caption
    caption-side bottom
    padding-top    17px
    padding-bottom 17px
    font-size 12px

  &__back-link
    &::before
      content "←"
      margin-right 2px
      display inline-block
      color #373737

  +mq(main)
    &,
    &__grid,
    &__form,
    &__footer
      display block
      width auto

    &__form
      padding 28px 0 0

      &::before
        content none
