.b-basket-form
  border-radius 3px
  color #fff
  background siteDarkBlue

  &__head
  &__body
  &__foot
    padding 18px

  &__head
    font-size 14px

  &__price
    margin-top 8px
    font-size 24px
    font-family LatoBold, sans-serif

  &__body
    padding-top 10px
    border 1px solid rgba(240, 240, 240, 0.17)
    border-width 1px 0

  &__label
    margin-bottom 5px
    display block

  // &__foot

  &__submit.green-button
    margin 0
    width 100%
    height 48px
    font-size 16px

