.b-control
  margin 0
  -webkit-appearance none
  -moz-appearance none
  appearance none
  box-sizing border-box
  width  22px
  height 22px
  border 1px solid #d1d1d1
  background #fff
  border-radius 2px
  background: none no-repeat 50% 50% #fff
  transition .2s

  &:checked
    background-color siteDarkBlue
    border-color siteDarkBlue

  &_type_checkbox
    background-image url("../img/checkbox.png")


.b-control-wrapper
  cursor pointer

  &__input
    margin-right 8px
