.b-help-hint
  position relative

  &__btn
    padding-left 26px
    min-width 200px
    min-height 20px
    font-size 14px
    text-align left
    background: url("../img/help-hint.png") no-repeat
    cursor pointer

  &__content
    position absolute
    z-index 1
    top 100%
    left 50%
    transform translate(-50%, 20px)
    margin-top 16px
    opacity 0
    visibility hidden
    box-sizing border-box
    padding 15px
    max-width 90vw
    width 470px
    font-size 14px
    line-height 17px
    background #fff
    border-radius 5px
    box-shadow 0 0 6px rgba(0, 0, 0, 0.26)
    transition .2s

    @supports (filter: drop-shadow(0 0 1px))
      filter: drop-shadow(0 0 6px rgba(0, 0, 0, 0.26))
      box-shadow none

    &::before
      content ""
      position absolute
      left 0
      right 0
      bottom 100%
      margin auto
      width 0
      height 0
      border 6px solid transparent
      border-top 0
      border-bottom-color #fff

      +mq(main)
        right auto
        left 16px

    p
      margin 17px 0

    +mq(main)
      left 0
      transform translate(0, 20px)

  &__close
    position absolute
    top 0
    right 0
    padding 0
    border 0
    font-size 28px
    width 1em
    height 1em
    border-radius 50%
    background url("../img/mclose.png") no-repeat 50% 50%
    transition .2s
    cursor pointer
    transition .2s

    &:hover
      opacity 0.75

  &_active &__content
    transform translate(-50%, 0)
    opacity 1
    visibility visible
    transition .3s

    +mq(main)
      transform translate(0, 0)
