.b-icon
  display inline-block
  box-sizing border-box
  width 1em
  height 1em
  font-size 16px
  background none no-repeat 50%

  &_weight
    background-image url("../img/tool-icons/icon-weight.png")

  &_left
    background-image url("../img/tool-icons/icon-left.png")

  &_right
    background-image url("../img/tool-icons/icon-right.png")

  &_center
    background-image url("../img/tool-icons/icon-center.png")

  &_layers
    background-image url("../img/tool-icons/icon-layers.png")

  &_layer-top
    background-image url("../img/tool-icons/icon-layer-top.png")

  &_layer-bottom
    background-image url("../img/tool-icons/icon-layer-bottom.png")

  &_layer-forward
    background-image url("../img/tool-icons/icon-layer-forward.png")

  &_layer-backward
    background-image url("../img/tool-icons/icon-layer-backward.png")

  &_block-text
    background-image url("../img/tool-icons/icon-block-text.png")

  &_block-img
    background-image url("../img/tool-icons/icon-block-image.png")

  &_clip
    background-image url("../img/tool-icons/icon-clip.png")

  &_brightness
    background-image url("../img/tool-icons/icon-brightness.png")
