.b-message-view

  &__head
    overflow hidden
    padding 27px 22px 27px 30px
    border-bottom 1px solid #f0f0f0

  &__title
    float left
    font-size 22px
    font-family LatoBold, sans-serif
    font-weight normal

  &__info
    margin-top 8px
    float right

  &__meta
    font-size 11px
    color #818181

  &__body
    padding 30px
    font-size 14px
    line-height: 1.5

  &__foot
    padding 27px 30px
    border-top 1px solid #f0f0f0

  &__back
    font-size 14px

    &::before
      content ""
      margin-right 3px
      vertical-align middle
      transform rotate(45deg)
      display inline-block
      width  6px
      height 6px
      border 2px solid
      border-width 0 0 2px 2px
      color #828282
      transition .2s

    &:hover
      text-decoration none

      &::before
        color siteDarkBlue

  +mq(main)
    &__title
    &__info
      float none

    &__head
    &__body
    &__foot
      padding-left 25px
      padding-right 25px


