.b-msg-addr
  margin 0
  padding 0
  display table
  border-collapse collapse

  &__item
    display table-row

  &__key
  &__value
    display table-cell
    padding-bottom 10px

  &__key
    width 50px
    padding-right 4px
    font-size 11px
    color #818181

  // &__value

