.b-msg-to-client
  padding-top 44px
  padding-bottom 34px
  border-top 1px solid #f0f0f0

  &__title
    padding 0 30px 30px
    font-family LatoBold, sans-serif
    font-weight normal
    font-size 24px
