.b-outline-btn
  display inline-block
  box-sizing border-box
  height 46px
  line-height 42px
  padding 0 43px
  font-size 18px
  border 2px solid
  text-transform uppercase
  color siteDarkBlue
  background 0
  cursor pointer

  &:hover
    background rgba(siteDarkBlue, 0.12)

  &_light
    border-width 1px
    color #fff

    &:hover
      background #fff
      color siteDarkBlue
