.b-pay

  // &__method

  &__info
    padding 5px 0
    font-size 12px

  +mq(main)
    padding-top 25px

    &__method
    &__info
      display inline-block
      vertical-align top
      font-size 1rem

    // &__method
      // padding-top 25px

    &__info
      padding-top 43px
