.b-pay-summary
  padding-left 77px
  min-height 67px
  line-height 67px
  font-size 18px
  color #6c6a6a
  background url("../img/pay-sum.png") no-repeat 0 0

  &__sum
    font-size 22px

.b-pay-summary-wrapper
  padding 25px 30px
  border-bottom 1px solid #f0f0f0
