.b-previews
  text-align center
  font-size 0

  &__item
    margin 0 10px
    position relative
    display inline-block
    vertical-align middle
    box-sizing border-box
    width  80px !important
    height 80px !important
    text-decoration none
    background #fff
    border-radius 3px

    &_active
    &:hover
      box-shadow 0 0 5px rgba(0, 0, 0, 0.18)

  &__img
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    margin auto
    max-width 100%
    max-height 100%

  // &_vertical
  //   width 90px

  // &_vertical &__item
  //   margin 8px auto
  //   float none
  //   display block
