.b-product-preview
  display table
  border-collapse collapse
  table-layout fixed

  &__img-cell
  &__desc-cell
    display table-cell
    vertical-align middle

  &__img-cell
    padding-right 24px
    width 66px

    img
      width 100%
