.b-sort-filter
  margin-bottom 15px
  font-size 12px

  &__label
    float left

  &__items
    display block
    overflow hidden
    width auto

  &__item
    margin-left 20px
    margin-bottom 10px
    float left
