.b-text-input
  box-sizing border-box
  max-width 100%
  height 41px
  padding 0 8px
  border 1px solid siteLightGray
  border-radius 3px
  font inherit
  background #fff

  &_width_full
    width 100%

  &_multiline
    padding-top 8px
    padding-bottom 8px
    resize vertical

  &_price
    padding-right 32px
    background-image: url("../img/rouble.png")
    background-repeat no-repeat
    background-position: right 8px top 50%
