.b-work-mode
  position relative
  font-size 12px

  &__add
    top 11px
    margin-left 15px

  &__period
    margin-bottom 10px
    display table
    border-collapse collapse
    width 100%

  // &__around

  &__cell
    display table-cell

  &__day
    padding-right 10px

  &__time
    width 80px

  &__label
    padding-right 4px
    padding-left 12px
    width 1px
