.file-holder
  background url(../img/addfile.png) no-repeat left center
  display inline-block
  width 200px
  height 44px

  span
    margin-left 30px
    text-decoration underline
    color #4d7abe
    line-height 44px
