
.itgreen-filter-select
  position relative
  display inline-block
  border 1px solid #adadad
  border-radius(4px)
  vertical-align top
  margin-right 10px

  .itgreen-filter-options
    position absolute
    top 100%
    left 0
    box-sizing border-box
    min-width: 100%;
    background white
    border 1px solid #adadad
    border-radius(4px)

    .itgreen-filter-option
      &:hover
        color white
        background rgba(0,0,0,0.1)

  .placeholder
    position relative

    &:after
      position absolute
      content ""
      display: block
      right 8px
      top 9px
      width 25px
      height 25px
      background url('../img/arrowdropdown.png') no-repeat center right

  .placeholder
  .itgreen-filter-option
    display block
    cursor pointer
    color #adadad
    font-size 14px
    padding-left 9px
    padding-right 43px
    padding-top 13px
    padding-bottom 13px
