@require "modal"
@require "select"
@require "paginator"
@require "msg-table"
@require "action"
@require "hint"
@require "update"
@require "file-holder"
@require "tabs-switcher"
@require "filter-select"
@require "filter"
@require "status-select"
@require "itgreen-table"
@require "b-text-input"
@require "b-fieldset"
@require "b-price"
@require "b-file-loader"
@require "b-help-hint"
@require "b-form-field"
@require "b-form"
@require "b-counter"
@require "b-message-view"
@require "b-msg-addr"
@require "b-control"
@require "b-control-list"
@require "b-msg-to-client"
@require "b-toggle"
@require "b-work-mode"
@require "b-pay-summary"
@require "b-pay-method"
@require "b-pay"
@require "b-pay-type"
