@require "modal"
@require "select"
@require "paginator"
@require "msg-table"
@require "action"
@require "hint"
@require "update"
@require "file-holder"
@require "tabs-switcher"
@require "filter-select"
@require "filter"
@require "status-select"
@require "itgreen-table"
@require "b-icon"
@require "b-sort-item"
@require "b-sort-filter"
@require "b-text-input"
@require "b-fieldset"
@require "b-range"
@require "b-price"
@require "b-file-loader"
@require "b-help-hint"
@require "b-form-field"
@require "b-form"
@require "b-counter"
@require "b-message-view"
@require "b-msg-addr"
@require "b-control"
@require "b-control-list"
@require "b-msg-to-client"
@require "b-toggle"
@require "b-work-mode"
@require "b-pay-summary"
@require "b-pay-method"
@require "b-pay"
@require "b-pay-type"
@require "b-inner-layout"
@require "b-breadcrumbs"
@require "b-inner-nav"
@require "b-summary"
@require "b-previews"
@require "b-tool-list"
@require "b-toolbar"
@require "b-edit-block"
@require "b-cliparts"
@require "b-cards"
@require "b-card"
@require "b-outline-btn"
@require "b-product-view"
@require "b-product-slider"
@require "b-products-tabs"
@require "b-product-info"
@require "b-info-list"
@require "b-basket-layout"
@require "b-data-grid"
@require "b-number-spinner"
@require "b-product-preview"
@require "b-basket-form"
@require "b-basket-form-field"
