@media (max-width: wrapperWidth)
  .modal-enter
    width 90%
    .modal-content
      padding-left 4%
      padding-right 4%
    .social-enter .social-enter-buttons .social-enter-button
      width auto
      background-position-x 5px !important
      background-position-x 11px !important
      padding-left 58px
      padding-right 20px

      &.enter-google-images
        background-position 50% 50% !important

  .itgreen-form
    label
      span
        display block
        width 100%
        margin-bottom 5px
      input, textarea
        width 100%
  button.button-enter
    margin-left 0px
