.paginator
  margin-top 35px
  size = 28px

  .page
    margin-right 2px
    display inline-block
    box-sizing border-box
    min-width size + 4
    line-height size
    border 2px solid #f0f0f0
    font-family LatoBold
    font-size size / 2
    color #4d7abe
    text-decoration underline
    text-align center
    cursor pointer
    transition .2s

    &:hover
      border-color #ccc
      text-decoration none

    &.current
      border-color #a0ca53
      text-decoration none
      cursor normal

.paginator-wrapper
  padding-left 30px
  padding-right 30px
  padding-bottom 35px
