extends /src/views/common/layout

block append defs
	-
		pageTitle = "Главная";

block blockContent
	.main-banner
		.wrapper
			.main-banner-actions
				a.main-banner-action.selfmade(href='javascript:void(0)')
					span Сделай сам
				a.main-banner-action.shop(href='javascript:void(0)')
					span Выбрать в магазине

	.wrapper
		.company-info
			img.company-face(src='img/description-photo.png')
			.company-info-container
				span.company-info-title.title Информация о компании
				.company-info-text
					p Сайт торгующий товарами в Интернете. Позволяет пользователям сформировать заказ на покупку, выбрать способ оплаты и доставки заказа в сети Интернет. Выбрав необходимые товары или услуги, пользователь обычно имеет возможность тут же на сайте выбрать метод оплаты и доставки.
					p Основное отличие Интернет-магазина от традиционного - в типе торговой площадки.
				a.green-button(href='javascript:void(0)')
					span Подробнее

		.catalog
			+catalog-items('Популярные товары', products.popular)
			+catalog-items('Акции', products.stocks)
