extends /src/views/pages/home/index

block modals
	.modal-holder
		.modal-window.modal-enter
			.modal-content
				h2 Регистрация
				.modal-close
				form.itgreen-form
					label.field
						span.cell.key Имя
						.cell.value
							input(type='text')

					label.field
						span.cell.key E-mail
						.cell.value
							input(type='emial')

					label.field
						span.cell.key Телефон
						.cell.value
							input(type='tel')

					label.field
						span.cell.key.baseline Код
						.cell.value
							.update
								.update-control
									input(type="text")
								.update-action
									button.action(type="button")
										.action-text Отправить повторно код

					button.green-button.button-enter(type='submit') Зарегистрироваться
