.b-designer-form

  &__part
    padding 17px

   &__head
    border-bottom 1px solid #fff
    color #373737
    font-size 24px
    font-family LatoBold, sans-serif

  &__title
    margin-bottom 12px

  &__body
    overflow hidden
    border-radius 3px
    background #f0f0f0

  &__summary
    padding-top 29px
    padding-bottom 23px
    color #fff
    background #383838

  &__submit
    margin 0
    width 100%
    height 50px

    &.buy
      font-size 16px

      &::before
        content: ""
        position relative
        top -2px
        display inline-block
        vertical-align middle
        margin-right 8px
        width 18px
        height 19px
        background: url("../img/basket.png") no-repeat

  &__foot
    padding 5px 0

  &__links
    padding 16px 0
    font-size 14px
    text-align center

