.city-wrapper
  &:before
    content ''
    display block
    border-left 10px solid transparent
    border-right 10px solid transparent
    border-bottom 10px solid white
    position absolute
    top -10px

  position absolute
  top 50px
  background white
  box-shadow 1px 1px 6px rgba(0,0,0,0.7)
  border-radius(5px)
  padding 27px 40px
  width 800px
  z-index 10
  .city-wrapper-head
    font-size 32px
    font-family LatoBold
    display block
  .city-column
    display inline-block
    vertical-align top
    margin-right 50px
    &:last-child
      margin-right 0px
    span
      display block
      font-size 16px
      color siteDarkBlue
      text-decoration underline
      line-height 1.3em
      cursor pointer
      &:first-child
        padding-top 15px
      &.city-head
        font-family LatoBold
        text-decoration none
        color black
        padding-top 15px
        padding-bottom 0px
        cursor auto
