.page-header
	a.action
		actionPad = 23px
		padding-left actionPad
		line-height 1.5em
		text-transform uppercase
		text-decoration none
		background-repeat no-repeat
		background-position center left
		> span
			border-bottom 1px dashed siteDarkBlue
		&.action-city
			width 300px - actionPad
			background-image url(../img/location.png)
		&.action-phone
			width 300px - actionPad
			background-image url(../img/phone.png)
			margin-left 2px
			color black
			font-size 1.125em
		&.action-bucket
			display inline-block
			background-image url(../img/bucket.png)
			padding-top 4px
			padding-left 42.5px
			line-height 2em
			margin-top 28px
			margin-right 6px
		// &.user
		// 	padding-left 26px
		// 	font-size 16px
		// 	text-transform none
		// 	background-image url(../img/user.png)


	.high-header
		topPad = 9px
		height highHeaderHeight - topPad
		background-color highHeaderBg
		padding-top topPad
		.high-header-block
			float left
		.high-header-end-block
			float right
		.social-networks
			margin-left 30px
			lato-inline-fixer()
			.social
				size = 28px
				shift = 5px
				display inline-block
				width size
				height size
				margin-right 5px
				background-repeat no-repeat
				background-image url(../img/social_up.png)
				background-position-y center
				&.vk
					background-position-x 0px
				&.fb
					background-position - (size + shift)
				&.tg
					background-position - (size + shift) * 2
				&.whatsapp
					background-position - (size + shift) * 3
				&.viber
					background-position - (size + shift) * 4
		.user-access
			display inline-block
			.action.enter
				margin-left 8px
	.middle-header
		height middleHeaderHeight
		background-color middleHeaderBg
		.middle-header-block
			display inline-block
			vertical-align top
		.middle-header-last-block
			display block
			float right
		> .wrapper
			lato-inline-fixer()
		.logo
			margin-top 27px
		.search-block
			searchWidth = 580px
			bsize = 35px
			bRadius = 4px
			margin-left  85px
			margin-top 27px
			margin-top 27px
			width searchWidth
			.search-field-container
				position: relative
				margin-bottom 6px
				margin-left 2px
				// width 100%
			label
				cursor pointer
			input[type=checkbox]
				display none
				size = 10px
				pad = 2px
				&:checked + .checkbox-holder:after
					content ""
					display inline-block
					background-color siteLightGray
					width size - pad
					height size - pad
					vertical-align top
					margin (pad / 2)
				& + .checkbox-holder
					display inline-block
					border 1px solid siteLightGray
					border-radius(2px)
					width size
					height size
					vertical-align top
					margin-top 3px
			.checkbox-holder + span
				color siteTextGray

			input[type=text]
				box-sizing border-box
				padding-left 11px
				padding-right bsize + 5
				// width searchWidth
				width 100%
				height 41px
				outline none
				border 1px solid siteLightGray
				font-size 0.875em
				border-radius(bRadius)
				placeholder()
					color fontGray
			button
				position absolute
				top 0
				bottom 0
				right 3px
				margin auto
				// margin-left - (bsize + 7px)
				// margin-top 4px
				// vertical-align top
				width bsize
				height bsize
				border none
				box-shadow none
				border-radius(bRadius)
				background siteDarkBlue url(../img/search.png) no-repeat center
	.navbar
		height navbarHeight
		background-color navbarBg
		nav
			.menu-switcher
				display none
			> ul
				lato-inline-fixer()
				> li
					display inline-block
					line-height navbarHeight
					border-left 2px solid white
					position relative
					&:hover
						.sub-nav
							display block
					&:last-child
						border-right 2px solid white
					a
						font-size 1.063em
						padding 0 20px 0 19.5px
						font-family LatoBold
						text-transform uppercase
						color white
						letter-spacing 0.0265em
						text-decoration none
					.sub-nav
						position absolute
						z-index 1
						width 100%
						top 100%
						background-color navbarBg
						display none
						margin-top -2px
						li
							a
								display block
								box-sizing border-box
								width 100%
								font-size 1.063em
								line-height 1em
								padding 15px 20px 15px 26px
								font-family LatoBold
								text-transform uppercase
								color white
								letter-spacing 0.0265em
								border-top 2px solid white
								text-decoration none
						& + a:after
							content: ''
							margin-left 13px
							display inline-block
							border 4px solid white
							border-left 4px solid transparent
							border-right 4px solid transparent
							border-bottom 4px solid transparent


+mq(main)
	.content
		.page-header
			.high-header
				height 208px
				padding-top 4px
				> .wrapper
					text-align center
					padding 0 20%
				.high-header-block
					display block
					float none
					text-align center
					&.social-networks
						margin-top 27px
						margin-left 5px
				a.high-header-block
					display inline-block
					width auto
					margin 0 auto
					&.action
						&.action-phone
							margin-top 24px
				.high-header-end-block
					display block
					float none
					margin-top 21px
					margin-left -23px
			.navbar
				height auto
				> .wrapper
					padding 0px
				nav
					> ul
						> li
							padding 0px 20px
							display none
							border-left none
							border-right none
							border-bottom 2px solid mobileMenuDivider
							a
								display block
								padding-left 0px
							.sub-nav + a::after
								content none
							&:hover
								.sub-nav
									display none
							&.menu-switcher
								display block
								a
									display block
									padding-left 40px
									background siteDarkBlue url(../img/omnomnom.png) no-repeat center left
									span
										text-transform capitalize

			.middle-header
				height 204px
				position relative
				.logo
					margin-top 32px
				.search-block
					width 100%
					margin-left 0px
					input[type="text"]
						width 100%
						box-sizing border-box
				.middle-header-last-block
					position absolute
					top 16px
					right 21px
