html,
body
  height: 100%

.wrapper
  max-width 1200px
  margin-left: auto
  margin-right: auto
  padding-left pad
  padding-right pad

.body-wrapper
  display table
  table-layout fixed
  border-collapse collapse
  width 100%
  height 100%

  .content
    display block
    background-color contentBg
    box-sizing  border-box
    min-height 100%
    // padding-bottom footerHeight

  .footer
    display table-row
    height 1px
