.lk-menu
  display: inline-block
  background-color white
  // box-shadow: 1px 1px 8px rgba(0,0,0,0.7)
  margin-top 20px
  margin-bottom 30px
  margin-right 17px
  vertical-align top
  // border-radius(5px)
  li
    display block
    width 258px
    background-repeat no-repeat
    background-position 18px center

    &.lk-group-title
      margin-top 16px
      padding-left 13px
      font-family LatoBold
      font-size 1em
      color #555555
      height 30px
      line-height 30px
      box-sizing border-box
    &.lk-button
      a
        display block
        height 44px
        line-height 44px
        font-family Lato
        font-size 1em
        color #4d7abe
        padding-left 48px
        text-decoration none
      &.lk-button-selected
        border-left 3px solid #a7ce5f
        background-color #e6f1d2

.ic-about
  background-image url('../img/ic-about.png')
.ic-address
  background-image url('../img/ic-address.png')
.ic-password
  background-image url('../img/ic-password.png')
.ic-notification
  background-image url('../img/ic-notification.png')
.ic-orders
  background-image url('../img/ic-orders.png')
.ic-sells
  background-image url('../img/ic-sells.png')
.ic-cashout
  background-image url('../img/ic-cashout.png')
.ic-history
  background-image url('../img/ic-history.png')
.ic-msg-history
  background-image url('../img/ic-msg-history.png')
.ic-firm-profile
  background-image url('../img/ic-firm-profile.png')
.ic-firm-orders
  background-image url('../img/ic-firm-orders.png')
.ic-client-new-question
  background-image url('../img/ic-client-new-question.png')
.ic-client-msg-history
  background-image url('../img/ic-client-msg-history.png')
.ic-admin-new-question
  background-image url('../img/ic-admin-new-question.png')
.ic-admin-msg-history
   background-image url('../img/ic-admin-msg-history.png')
.ic-logout
   background-image url('../img/ic-logout.png')
.ic-user
   background-image url('../img/ic-user-small.png')


.lk-content
  display inline-block
  background-color white
  // box-shadow: 1px 1px 8px rgba(0,0,0,0.7)
  margin-top 20px
  margin-bottom 30px
  width 917px /* 925px */
  min-height 100px
  vertical-align top
  // border-radius(5px)


.lk-title
  overflow hidden
  padding 22px 30px
  // padding-left 30px
  // padding-top 22px
  // padding-bottom 22px
  // border-bottom 1px solid #ccc
  border-bottom 1px solid #f0f0f0
  font-size 32px
  font-family LatoBold
  color black

.lk-toolbar
  float right
  overflow hidden

  .green-button
    float left
    margin-left 0
    margin-bottom 0
    // padding-left 8px
    // padding-right 8px
    height 32px
    width auto
    line-height 32px
    font-size 14px
    letter-spacing 0.025em
    font-weight normal

    &:not(:first-child)
      margin-left 8px

  +mq(main)
    float none
    padding-top 40px

.lk-wrapper
  padding-left 8px
  padding-right 8px

  .msg-table
    margin-top -1px


.itgreen-form
  padding-bottom 16px

  label
    display  block
    font-size 20px
    color black
    padding-top 34px
    span
      display inline-block
      width 22%
      vertical-align top
      padding-top 10px
    input, textarea
      display inline-block
      width 75%
      border-radius(3px)
      border 1px solid #d1d1d1
    input
      display inline-block
      height 39px
      &[type='file']
        display none
    textarea
      display inline-block
      height 272px

  .remark
    display block
    width 230px
    margin-left 180px
    font-size 12px
    color black

.field
  &
  .itgreen-form &
    display table
    table-layout fixed
    width 100%
    font-size 20px
    color black
    padding-top 34px

  .cell
    display table-cell
    vertical-align baseline

    +mq(main)
      display block
      width auto

    &.key
      width 22%
      // padding-top 10px

      +mq(main)
        margin-bottom 5px

    &.value
      width auto
      // width 75%

      input
        width 100%
        box-sizing border-box

  .hint
    margin-top 6px
    display block

button.button-enter
  width auto
  margin-left 115px
  height 40px
  line-height 40px
  margin-top 22px
  border-bottom 3px solid #4d6a19
  cursor pointer


.lk-form
  padding-top 40px
  padding-left 30px
  padding-bottom 42px
  label
    display block
    margin-bottom 25px
    font-size 16px
    color black
    span
      display inline-block
      width 177px
      vertical-align top
    input, textarea
      width 664px
      border-radius(3px)
      border 1px solid #d1d1d1
    input
      height 39px
      &[type='file']
        display none
    textarea
      height 272px
  .remark
    display block
    width 230px
    margin-left 180px
    font-size 12px
    color black

.green-button
  margin-bottom 12px
  margin-left 180px
  padding 0 16px
  // width 159px
  height 39px
  border none
  font-size 18px
  font-family LatoBold
  text-decoration none
  background #a0ca53
  text-transform uppercase
  color white
  text-shadow 0 1px rgba(0, 0, 0, 0.32)
  transition .2s
  cursor pointer

  &:hover
    background-color #8db149

// .file-holder
//   background url(../img/addfile.png) no-repeat left center
//   display inline-block
//   width 200px
//   height 44px
//   span
//     margin-left 30px
//     text-decoration underline
//     color #4d7abe
//     line-height 44px

@import "lk-mobile.styl"
