// START .footer
footer.footer
	// START .high-footer
	.high-footer
		.wrapper
			.footer-social-container
				span.footer-social-title Отзывы наших клиентов
				a.footer-social.vk
				a.footer-social.fb
			a.feedback
				span Обратная связь
	// END .high-footer

	// START .middle-footer
	.middle-footer
		.wrapper
			.footer-section.copyright
				p © IT Green 2008-2017
			.footer-section.address
				span.footer-section-head Адрес
				p Россия г.Великий Новгород ул. Б.С.Петербургская д.80
			.footer-section.phone
				span.footer-section-head Телефон
				p +7 (8162) 556-500
			.footer-section.mess
				span.footer-section-head VIBER, WHATSAPP
				p +7-302-283-6500
			.footer-section.email
				span.footer-section-head Почта
				p foto@itgreen.ru
			.footer-section.skype
				span.footer-section-head Скайп
				p ITGreen.nov
	// END .middle-footer

	// START .low-footer
	.low-footer
		.wrapper
			span.payable Принимаем к оплате
			a.payable-agent.visa(href="javascrpit:void(0)")
			a.payable-agent.mastercard(href="javascrpit:void(0)")
			a.payable-agent.sberbank(href="javascrpit:void(0)")
			a.payable-agent.qiwi(href="javascrpit:void(0)")
			a.payable-agent.ya(href="javascrpit:void(0)")
			a.payable-agent.webmoney(href="javascrpit:void(0)")
	// END .low-footer
// END .footer
