mixin lkMenu()
	-
		var props = attributes;
		var active = (props.active || "").toLowerCase().trim();

	// START .lk-menu
	ul.lk-menu
		each group in lkMenu
			li.lk-group-title #{group.title}
			each item in group.children
				li.lk-button(
					class={
						[item.class]: true,
						"lk-button-selected": (group.title + item.title).toLowerCase().trim() === active
					}
				)
					a(href=item.link)
						| #{item.title}
						if (item.count)
							span.b-counter #{item.count}
	// END .lk-menu
