extends /src/views/common/lk-layout

block append defs
	-
		groupTitle = "Управление счетом";
		pageTitle = "Вывод средств";

block blockLkContent
	h1.lk-title
		| История счета

	.lk-wrapper
		.itgreen-table.payment-table
			.title-row
				.title-cell Дата
				.title-cell Операция
				.title-cell Платежная система
				.title-cell Сумма, #[span.rouble q]
				.title-cell Статус
			.itgreen-table-row
				.itgreen-cell 01 Сентября 2017,  00:15:22
				.itgreen-cell Вывод средств
				.itgreen-cell
					.b-pay-type
						img.b-pay-type__icon(src="img/pay-type-sb.png")
						span.b-pay-type__text Сбербанк онлайн
				.itgreen-cell 150,56
				.itgreen-cell
					.order-status.process
						span В обработке

			.title-row
				.title-cell Дата
				.title-cell Операция
				.title-cell Платежная система
				.title-cell Сумма, #[span.rouble q]
				.title-cell Статус
			.itgreen-table-row
				.itgreen-cell 01 Сентября 2017,  00:15:22
				.itgreen-cell Вывод средств
				.itgreen-cell
					.b-pay-type
						img.b-pay-type__icon(src="img/pay-type-mastercard.png")
						span.b-pay-type__text Mastercard
				.itgreen-cell 150,56
				.itgreen-cell
					.order-status.credit
						span В обработке

			.title-row
				.title-cell Дата
				.title-cell Операция
				.title-cell Платежная система
				.title-cell Сумма, #[span.rouble q]
				.title-cell Статус
			.itgreen-table-row
				.itgreen-cell 01 Сентября 2017,  00:15:22
				.itgreen-cell Вывод средств
				.itgreen-cell
					.b-pay-type
						img.b-pay-type__icon(src="img/pay-type-visa.png")
						span.b-pay-type__text Visa
				.itgreen-cell 150,56
				.itgreen-cell
					.order-status.process
						span В обработке

			.title-row
				.title-cell Дата
				.title-cell Операция
				.title-cell Платежная система
				.title-cell Сумма, #[span.rouble q]
				.title-cell Статус
			.itgreen-table-row
				.itgreen-cell 01 Сентября 2017,  00:15:22
				.itgreen-cell Вывод средств
				.itgreen-cell
					.b-pay-type
						img.b-pay-type__icon(src="img/pay-type-cash.png")
						span.b-pay-type__text Наличными
				.itgreen-cell 150,56
				.itgreen-cell
					.order-status.credit
						span В обработке

		.paginator-wrapper
			.paginator
				.page 1
				.page.current 2
				.page 3
