extends /src/views/common/lk-layout

block append defs
	-
		pageTitle = "История сообщения";
		groupTitle = "Задать вопрос администрации";

block blockLkContent
	h1.lk-title История сообщений
	.lk-form
		.filter
			label.itgreen-select
				select
					option Тема
					option Тема 2

		.msg-table
			- for(let i = 0; i < 13; i++)
				.msg-table-row
					.msg-reciever Константин
					.msg-text При прочих равных условиях лизиметр представляет собой непромывной ил. Сдавливание, ни казалось парадоксальным
					.msg-date 01 Сент 2017 00:15
			.paginator
				.page.current 1
				.page 2
				.page 3
