extends /src/views/common/lk-layout

block append defs
	-
		pageTitle = "Новое сообщение";
		groupTitle = "Связь с клиентом";

block blockLkContent
	h1.lk-title
		| Новое сообщение

	form.b-form
		fieldset.b-fieldset
			.b-form-field
				label.b-form-field__key Кому
				.b-form-field__content
					input(class=[
						'b-text-input',
						'b-text-input_width_full',
						'b-form-field__control'
					], type="text")

			.b-form-field
				label.b-form-field__key Отправить через
				.b-form-field__content
					ul.b-control-list
						li.b-control-list__item
							label.b-control-wrapper
								input(type='checkbox', class=[
									'b-control',
									'b-control_type_checkbox',
									'b-control-wrapper__input'
								])
								| Личный кабинет
						li.b-control-list__item
							label.b-control-wrapper
								input(type='checkbox', class=[
									'b-control',
									'b-control_type_checkbox',
									'b-control-wrapper__input'
								])
								| E-mail
						li.b-control-list__item
							label.b-control-wrapper
								input(type='checkbox', class=[
									'b-control',
									'b-control_type_checkbox',
									'b-control-wrapper__input'
								])
								| СМС

			.b-form-field
				label.b-form-field__key Сообщение
				.b-form-field__content
					textarea(class=[
						'b-text-input',
						'b-text-input_multiline',
						'b-text-input_width_full',
						'b-form-field__control'
					], style="height: 274px")

		fieldset.b-fieldset.b-form__footer
			button.b-form__footer-submit.green-button(type="submit") отправить


	aside.b-msg-to-client
		h2.b-msg-to-client__title Отправленые сообщения этому клиенту
		.lk-wrapper
			.msg-table
				- for(let i = 0; i < 2; i++)
					.msg-table-row
						.msg-reciever Константин
						.msg-text При прочих равных условиях лизиметр представляет собой непромывной
						.msg-meta
							div 01 Сент 2017 00:15
							div Личный кабинет

