extends /src/views/common/lk-layout

block append defs
	-
		pageTitle = "История сообщений";
		groupTitle = "Связь с клиентом";

block blockLkContent
	h1.lk-title
		| История сообщений
		.lk-toolbar
			a.green-button(href="lk-client-messages-new.html") Написать

	.lk-wrapper
		.msg-table
			- for(let i = 0; i < 8; i++)
				.msg-table-row
					.msg-reciever
						dl.b-msg-addr
							.b-msg-addr__row
								dt.b-msg-addr__key От кого
								dd.b-msg-addr__value Константин
							.b-msg-addr__row
								dt.b-msg-addr__key Кому
								dd.b-msg-addr__value Константин
					.msg-text При прочих равных условиях лизиметр представляет собой непромывной ил. Сдавливание, ни казалось парадоксальным
					.msg-meta
						div 01 Сент 2017 00:15
						div Личный кабинет

	.paginator-wrapper
		.paginator
			.page.current 1
			.page 2
			.page 3
