extends /src/views/common/lk-layout

block append defs
	-
		var pageTitle = "Продажи";
		var groupTitle = "Контент и товары";

block blockLkContent
	h1.lk-title
		| Продажи
		.lk-toolbar
			a.green-button(href="lk-content-add.html") Добавить товар
			a.green-button(href="lk-content-add.html") Добавить контент
	.lk-form
		.tabs-switcher
			.tab.selected(tab='for-sale')
				span На продаже
			.tab(tab='sale-ready')
				span Готовые к продаже

		//- .filter
		//- 	+filterSelect({
		//- 		title: 'Статус заказа',
		//- 		data: ['Сформирован', 'В пути', 'Исполнен']
		//- 	})

		//- 	+filterSelect({
		//- 		title: ' Статус оплаты',
		//- 		data: ['Не оплачен', 'Оплачен']
		//- 	})

		.tabs
			.tab.selected(tab='for-sale')
				.itgreen-table.for-sale-table
					- for(let i = 0; i < 13; i++)
						.title-row
							.title-cell Номер
							.title-cell Название
							.title-cell
								| Цена,
								span.rouble q
						.itgreen-table-row
							.itgreen-cell 00010
							.itgreen-cell
								a(href=js0) Мужская футболка
							.itgreen-cell 150,56

				.paginator
					.page 1
					.page.current 2
					.page 3

			.tab(tab='sale-ready', style='display: none;')
				.itgreen-table.sale-ready-table
					- for(let i = 0; i < 13; i++)
						.title-row
							.title-cell Номер
							.title-cell Название
							.title-cell
								| Цена,
								span.rouble q
							.title-cell Статус
						.itgreen-table-row
							.itgreen-cell 00010
							.itgreen-cell
								a(href=js0) Мужская футболка
							.itgreen-cell 150,56
							.itgreen-cell
								.status-select
									.selected
										.order-status.credit
											span На продаже
									.options(style="display: none;")
										.order-status.debt
											span Снят с продажи
										.order-status.credit
											span На продаже

				.paginator
					.page 1
					.page.current 2
					.page 3
