extends /src/views/common/lk-layout

block append defs
	-
		var pageTitle = "Продажи";
		var groupTitle = "Контент и товары";

block blockLkContent
	h1.lk-title
		| Добавление контента

	//- .lk-form
	form.b-form
		fieldset.b-fieldset
			.b-form-field
				label.b-form-field__key Раздел
				.b-form-field__content
					.itgreen-select
						select.b-form-field__control
							option Тема
							option Тема 2

			.b-form-field
				label.b-form-field__key Файл
				.b-form-field__content
					.b-file-loader
						label.b-file-loader__trigger
							input(type="file").b-file-loader__input
							span.b-file-loader__trigger-text Выбрать файл
						div(class=[
							'b-file-loader__preview',
							'b-file-loader__preview_type_jpg'
						])
							.b-file-loader__name Фото
							.b-file-loader__meta (JPEG, 145 Кб)
							button(type="button").b-file-loader__del удалить


			.b-form-field
				label.b-form-field__key Название
				.b-form-field__content
					input(class=[
						'b-text-input',
						'b-text-input_width_full',
						'b-form-field__control'
					], type="text")

			.b-form-field
				label.b-form-field__key Описание
				.b-form-field__content
					textarea(class=[
						'b-text-input',
						'b-text-input_width_full',
						'b-text-input_multiline',
						'b-form-field__control'
					])
					.b-form-field__side
						.b-help-hint
							button(type="button").action.b-help-hint__btn
								.action-text Узнайте как правильно заполнить описание
							.b-help-hint__content
								p Значки с тегами 3-4 будут ранжироваться выше, чем значки с 7 или более тегами.
								p Чтобы бороться с рассылкой ключевых слов, наш алгоритм применяет «эффект ослабления» на значках, которые содержат более 4 тегов. Это означает уменьшение показателя поиска для этих значков. Сокращение баллов очень мало, но быстро увеличивается для более чем 7 ключевых слов.
								p Цель состоит в том, чтобы предотвратить появление значков с таким количеством тегов, о которых могут подумать дизайнеры, потому что это вызовет спам результатов поиска с нерелевантными значками.
								p Иногда лучше ранжировать немного ниже, чтобы проявлять себя в поисках более высоких значений (более конкретно).
								button(type="button").b-help-hint__close

		fieldset.b-fieldset
			legend.b-fieldset__label Стоимость
			.b-form-field
				label.b-form-field__key Цена без наценки
				.b-form-field__content
					input(class=[
						'b-text-input',
						'b-text-input_price',
						'b-form-field__control'
					], type="text")

			.b-form-field
				label.b-form-field__key Наценка
				.b-form-field__content
					input(class=[
						'b-text-input',
						'b-text-input_price',
						'b-form-field__control'
					], type="text")

			.b-form-field
				label.b-form-field__key Общая стоимость
				.b-form-field__content
					b.b-price 356 #[span.rouble q]

		fieldset.b-fieldset.b-form__footer
			button.b-form__footer-submit.green-button(type="submit") Добавить
			a.b-form__footer-back(href=js0) Вернуться в продажи
