extends /src/views/common/lk-layout

block append defs
	-
		var pageTitle = "Заказы";
		var groupTitle = "Контент и товары";

block blockLkContent
	h1.lk-title Заказы
	.lk-form
		.tabs-switcher
			.tab.selected(tab='production')
				span Товары
			.tab(tab='content')
				span Контент

		.filter
			+filterSelect({
				title: 'Статус заказа',
				data: ['Сформирован', 'В пути', 'Исполнен']
			})

			+filterSelect({
				title: ' Статус оплаты',
				data: ['Не оплачен', 'Оплачен']
			})


		.tabs
			.tab.selected(tab='production')
				.itgreen-table.production-table
					- for(let i = 0; i < 13; i++)
						.title-row
							.title-cell Номер заказа
							.title-cell Адрес доставки
							.title-cell
								| Сумма,
								span.rouble q
							.title-cell
								| Сумма доставки,
								span.rouble q
							.title-cell Статус заказа и оплаты
							.title-cell Статус заказа и оплаты
							.title-cell Статус по трек номеру
						.itgreen-table-row
							.itgreen-cell
								a.order-number(href=js0) 0018883278
								span.order-date 01 Сентября 2017
							.itgreen-cell 618320, Пермь, Пермский кр., ул.Ленина, 72, кв.10
							.itgreen-cell 150.56
							.itgreen-cell 250
							.itgreen-cell 01 Сентября 2017 00:15:22
							.itgreen-cell
								.order-status.formed
									span Сформирован
								.order-status.credit
									span Оплачен
							.itgreen-cell В обработке
				.paginator
					.page 1
					.page.current 2
					.page 3

			.tab(tab='content', style='display: none;')
				.itgreen-table.content-table
					- for(let i = 0; i < 13; i++)
						.title-row
							.title-cell Номер заказа
							.title-cell Дата
							.title-cell Цена
								span.rouble q
							.title-cell Статус
							.title-cell Оплата
							.title-cell
						.itgreen-table-row
							.itgreen-cell
								a.order-number(href=js0) 0018883278
							.itgreen-cell 01 Сентября 2017
							.itgreen-cell 150,56
							.itgreen-cell
								.order-status.formed
									span Сформирован
							.itgreen-cell
								.order-status.credit
									span Оплачен
							.itgreen-cell
								a.download(href=js0)

				.paginator
					.page 1
					.page.current 2
					.page 3
