extends /src/views/common/lk-layout

block append defs
	-
		pageTitle = "История сообщений";
		groupTitle = "Мои сообщения";

block blockLkContent
	.b-message-view
		.b-message-view__head
			.b-message-view__title Константин
			.b-message-view__info
				.b-message-view__meta 01 Сент 2017 00:15
		.b-message-view__body
			p Явление мгновенно. Ил флуктуационно возникает латерит. Дождевание, как того требуют законы термодинамики, однородно адсорбирует гранулометрический анализ. Солодь перемещает почвообразовательный процесс, что лишний раз подтверждает правоту Докучаева. Почвенная корка, в сочетании с традиционными агротехническими приемами, переносит полидисперсный лёсс.
		.b-message-view__foot
			a(href="lk-my-messages-history.html").b-message-view__back Назад к сообщениям
