extends /src/views/common/lk-layout

block append defs
	-
		groupTitle = "Мой профиль";
		pageTitle = "Изменить пароль";

block blockLkContent
	h1.lk-title
		| Изменение пароля

	form.b-form
		fieldset.b-fieldset
			.b-form-field
				label.b-form-field__key Текущий пароль
				.b-form-field__content
					input(class=[
						'b-text-input',
						'b-text-input_width_full',
						'b-form-field__control'
					], type="password")

			.b-form-field
				label.b-form-field__key Новый пароль
				.b-form-field__content
					input(class=[
						'b-text-input',
						'b-text-input_width_full',
						'b-form-field__control'
					], type="password")

		fieldset.b-fieldset.b-form__footer
			button.b-form__footer-submit.green-button(type="submit") Изменить пароль

