extends /src/views/common/lk-layout

block append defs
	-
		groupTitle = "Мой профиль";
		pageTitle = "Уведомления";

block blockLkContent
	h1.lk-title
		| Уведомления о продаже товара/контента

	form.b-form
		fieldset.b-fieldset
			.b-form-field
				label.b-form-field__key E-mail
				.b-form-field__content
					//- div
					+toggle({
						name: 'email-notif',
						options: [
							{ value: 'yes', text: 'Да', checked: true },
							{ value: 'no', text: 'Нет' }
						]
					})

			.b-form-field
				label.b-form-field__key Личный кабинет
				.b-form-field__content
					//- div
					+toggle({
						name: 'lk-notif',
						options: [
							{ value: 'yes', text: 'Да' },
							{ value: 'no', text: 'Нет', checked: true }
						]
					})

		fieldset.b-fieldset.b-form__footer
			button.b-form__footer-submit.green-button(type="submit") Сохранить

