
wrapperWidth = 1200px
pad = 25px
mainWidth = wrapperWidth + pad * 2

siteDarkBlue = #4d7abe
siteLightGray = #d1d1d1
siteTextGray = #757575
siteTextGray2 = #a3a3a3
siteTextGray3 = #a2a2a2

siteGreen1 = #8db149
siteGreen2 = #a0ca53
siteGreen3 = #4d6a19

mobileMenuDivider = #9fb5d7

fontGray = #9e9e9e

highHeaderHeight = 44px
highHeaderBg = #f0f0f0
middleHeaderHeight = 115px
middleHeaderBg = #fff
navbarBg = siteDarkBlue
navbarHeight = 69px
headerHeight = 228px

highFooterHeight = 86px
middleFooterHeight = 134px
footerHeight = 260px


contentBg = #f0f0f0
highFooterBg = siteDarkBlue
middleFooterBg = #383838
