form.b-designer-form
	.b-designer-form__body
		.b-designer-form__part.b-designer-form__head
			.b-designer-form__title Футболка REGENT 150,  песочная
			.b-designer-form__price 260,00 #[span.rouble q]

		.b-designer-form__part
			.b-designer-form-fieldset
				.b-designer-form-fieldset__item.b-form-field
					label.b-designer-form-fieldset__key.b-form-field__key Цвет
					.b-designer-form-fieldset__content.b-form-field__content
						.itgreen-select(style='width: 200px')
							select.b-form-field__control
								option Опция 1
								option Опция 2
				.b-designer-form-fieldset__item.b-form-field
					label.b-designer-form-fieldset__key.b-form-field__key Размер
					.b-designer-form-fieldset__content.b-form-field__content
						.itgreen-select(style='width: 200px')
							select.b-form-field__control
								option Опция 1
								option Опция 2

	.b-designer-form__foot
		button.b-designer-form__submit.green-button.buy(type="sumbit") В корзину
