@font-face
  font-family Lato
  font-style normal
  src:
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff'),
    url('../fonts/Lato-Regular.ttf') format('truetype');

@font-face
  font-family LatoBold
  font-style normal
  src:
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff'),
    url('../fonts/Lato-Bold.ttf') format('truetype');

@font-face
  font-family Rouble
  font-style normal
  src:
    url('../fonts/ALSRubl.woff2') format('woff2'),
    url('../fonts/ALSRubl.woff') format('woff'),
    url('../fonts/ALSRubl.ttf') format('truetype');
